.price{
display: flex;
}
.price .main-button-add{
    background-color: greenyellow;
    border-radius: 20px;
    padding: 5px;
    border-color: #ffffff;
    border-width: 0px;
    margin-left: 5px;
}
.price .price-button{
    display: flex;
}
.price .span-product{
    color: #a4a4a4;
    
}
.price .main-button-addm{
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
}